.card {
    display: table;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    background: beige;
}

.word {
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
    font-size: 25px;
    font-family: Helvetica, serif;
}

.invisible-word {
    display: none;
}

.selectable {
    cursor: pointer;
}

.red {
    background: #ff7675;
}

.red-spy {
    color: #ff7675;
}

.blue {
    background: #5B7AB4;
}

.blue-spy {
    color: #5B7AB4;
}

.neutral {
    background: #c29161;
}

.neutral-spy {
    color: #c29161;
}

.black {
    background: #4b4f51;
}

.black-spy {
    color: #4b4f51;
}