﻿.ClueList {
    background: beige;
    border-radius: 5px;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Helvetica, serif;
}

.blue-cell {
    background: #5B7AB4;
}

.red-cell {
    background: #ff7675;
}

.word-cell {
    width: 45%
}

.number-cell {
    width: 5%;
}