﻿.PlayerList {
    background: beige;
    border-radius: 5px;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-family: Helvetica, serif;
}

.blue-cell {
    background: #5B7AB4;
    width: 50%;
}

.red-cell {
    background: #ff7675;
    width: 50%;
}

.spy {
    font-weight: bold !important;
}